<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Collective Browser</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
    var app = angular.module('browse', []);


    var model = {
        query: {maxRows: 5}
    }

    // app.run(function($http){
    //     $http.get('browse.test.json')
    //     .success(function(data){
    //         model.results = data;
    //     });
    // });

    app.controller('BrowseController', function($scope, $http){
        $scope.model = model;
        $scope.model.results = {triples:[], scrollId:null};

        $scope.searchTextCmd = function(){
            $scope.model.results = {triples:[], scrollId:null};
            $scope.model.query.scrollId = null;
            
            if ($scope.model.query.object==null){
                console.log("object is null!");
            } else {
                $http.post('search/scroll', $scope.model.query)
                    .success(function(data, status, headers, config){
                        $scope.model.results = data;
                        console.log("request to server successful, scrollId="+$scope.model.results.scrollId);
                    })
                    .error(function(data, status, headers, config){
                      console.log("call to server failed, status="+ status);
                    });
            }
        };

        $scope.moreResultsAvailable = function(){
            return $scope.model.results.scrollId != null;
        }

        $scope.nextPageCmd = function() {
            $scope.model.query.scrollId = $scope.model.results.scrollId;
            $http.post('search/scroll', $scope.model.query)
                .success(function(data, status, headers, config){
                    $scope.model.results = data;
                    console.log("request to server successful, scrollId="+$scope.model.results.scrollId);
                })
                .error(function(data, status, headers, config){
                  console.log("call to server failed, status="+ status);
                });
        };

    });
    </script>

    <style type="text/css">
    </style>
</head>
<body ng-app="browse">

    <div class="container-fluid" ng-controller="BrowseController as bc">
        <div class="row">
            <div class="col-md-8">
                <h1>Collective Browser</h1>
                <p>Use this page to search for items that have matching text.</p>
            </div>
            <div class="col-md-4"><img style="width:200px"
                src="http://www.oclc.org/content/dam/oclc/common/images/logos/new/OCLC/OCLC_Logo_H_Color_NoTag.png"/>
            </div>
        </div>

        <div class="panel well">
            <form class="form-inline">
                <div class="form-group">
                    <label>Subject:</label>
                    <input type="text" class="form-control" size="30" ng-model="model.query.subject" placeholder="subject text"/>
                </div>
                <div class="form-group">
                    <label>Predicate:</label>
                    <input type="text" class="form-control" size="30" ng-model="model.query.predicate" placeholder="predicate text"/>
                </div>
                <div class="form-group">
                    <label>Object:</label>
                    <input type="text" class="form-control" size="30" ng-model="model.query.object" placeholder="object text"/>
                </div>
                <div class="form-group">
                    <label>Max results:</label>
                    <!-- <input type="text" class="form-control" size="5" ng-model="model.query.maxRows"/> -->
                    <select ng-model="model.query.maxRows">
                        <option value="5">25</option>
                        <option value="10">50</option>
                        <option value="15">75</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="searchTextCmd();">Search</button>
                    <button class="btn btn-default" ng-click="nextPageCmd();" ng-hide="!moreResultsAvailable()">Next Page</button>
                </div>
            </form>
        </div>

        <hr/>

        <div class="panel">
           <!--  <p>scrollId={{model.results.scrollId}}</p> -->
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <td>Collection</td>
                        <td>Subject</td>
                        <td>Predicate</td>
                        <td>Object</td>
                        <td>Weight</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in model.results.triples">
                        <td>{{item.collection}}</td>
                        <td>{{item.subject}}</td>
                        <td>{{item.predicate}}</td>
                        <td>{{item.object}}</td>
                        <td>{{item.weight}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</body>
</html>